.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.popular-movies-container {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
}
